body {
  background: #F5F5F5;
  padding-top: 81px;
  font: 14px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body a {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.content-wrap {
  background: white;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
}
section.focus-area {
  padding: 65px 0;
}
section.focus-area.dark {
  background: #F4F4F4;
}
section.focus-area.super-dark,
section.focus-area.services {
  background: #2980b9;
}
section.focus-area.super-dark h1,
section.focus-area.services h1,
section.focus-area.super-dark h2,
section.focus-area.services h2,
section.focus-area.super-dark h3,
section.focus-area.services h3,
section.focus-area.super-dark h4 p,
section.focus-area.services h4 p {
  color: white;
}
section.focus-area.super-dark p,
section.focus-area.services p {
  color: #f2f2f2;
}
section.focus-area.super-dark a,
section.focus-area.services a {
  color: white;
  text-decoration: none;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}
section.focus-area.super-dark a:hover,
section.focus-area.services a:hover {
  border-bottom-color: white;
}
section.focus-area.super-dark span.yellow,
section.focus-area.services span.yellow {
  color: black;
}
section.focus-area.super-dark .leading,
section.focus-area.services .leading {
  text-shadow: 0 1px 0 black;
}
section.focus-area.super-dark .leading span.yellow,
section.focus-area.services .leading span.yellow {
  text-shadow: none;
}
section.focus-area.services {
  background: url('../img/services-bg.jpg');
  background-size: cover;
  padding: 150px 0;
}
section.focus-area p.leading {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 90%;
}
section.focus-area p.leading strong.dark {
  font-weight: 400;
  color: #555;
}
section.focus-area .action-btns {
  text-align: center;
  margin: 50px 0 0;
}
section.focus-area .action-btns .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 12px 25px;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  border-width: 3px;
}
section.focus-area .action-btns .btn.btn-default {
  border-color: #555;
  background: transparent;
  margin-left: 20px;
}
section.focus-area .action-btns .btn.btn-default:hover {
  background: white;
}
h2.leading {
  text-align: center;
  font-weight: 400;
  font-size: 43px;
  line-height: 58px;
  letter-spacing: -1px;
  color: #333;
  margin-bottom: 20px;
}
h2.leading span.yellow {
  background: yellow;
  padding: 0 5px;
}
p.leading {
  color: #A0A0A0;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 0 0 20px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}
.section-title {
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 32px;
  margin: 0 0 15px;
}
.section-sub {
  font-weight: 300;
  text-align: center;
  margin: 0 0 20px;
}
.btn.btn-flat {
  border-width: 3px;
  border-radius: 0;
}
.btn.btn-flat.btn-default {
  border-color: black;
}
.btn.btn-flat:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.darker-header #global-nav {
  -webkit-box-shadow: 0 -6px 20px #000000;
  box-shadow: 0 -6px 20px #000000;
}
#global-nav {
  background: white;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.2);
}
#global-nav .site-logo img {
  height: 75px;
}
#global-nav ul.nav li {
  margin-right: 10px;
}
#global-nav ul.nav li a {
  font-family: 'Open Sans', sans-serif;
  padding: 24px 18px;
  font-size: 18px;
  color: #777;
}
#global-nav ul.nav li a:hover {
  color: black;
}
#global-nav ul.nav li.active a {
  color: black;
  font-weight: bold;
  background: none;
}
body.blog ul.nav #nav-blog a {
  color: black;
  font-weight: bold;
  background: none;
}
section.about-grey {
  background: #f1f0ee;
  padding: 100px 0 50px;
}
section.about-grey .about-panel {
  margin: 0 auto;
  float: none;
  font-family: 'Open Sans', sans-serif;
}
section.about-grey .about-panel img.large-focus {
  max-width: 100%;
}
section.about-grey .about-panel .panel-wrap {
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
section.about-grey .about-panel .inner {
  background: white;
  padding: 20px 30px;
}
section.about-grey .about-panel .inner .copy p {
  font-size: 16px;
  margin: 0 0 1em;
}
section.about-panels {
  padding: 50px 0;
  font-family: 'Open Sans', sans-serif;
}
section.about-panels .row {
  margin-bottom: 50px;
}
section.about-panels .row .panel-info p {
  font-size: 16px;
  line-height: 25px;
  color: #666;
}
section.about-panels .row .panel-media img {
  max-width: 100%;
}
section.portfolio-listing {
  padding-top: 20px;
}
section.portfolio-listing .work-piece {
  margin-bottom: 20px;
}
section.portfolio-listing a:hover {
  text-decoration: none;
}
section.portfolio-listing a:hover h3 {
  color: #666;
}
section.portfolio-listing h3 {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: none !important;
  margin: 15px 0 5px;
  color: #222;
}
section.portfolio-listing h5 {
  font-weight: normal;
  font-size: 14px;
  color: #AAA;
  line-height: 14px;
}
section.portfolio-listing p.last-call {
  font-size: 18px;
  margin: 20px 0 0;
  text-align: center;
}
section.portfolio-listing p.leading {
  width: 80%;
  text-align: center;
  margin: 0 auto 50px;
}
section.what-i-work-on {
  background: #348CC7;
  border-top: 1px solid white;
  padding: 50px 0 80px;
  font-family: 'Open Sans', sans-serif;
}
section.what-i-work-on h2.leading {
  font-size: 20px;
  line-height: 30px;
  color: #FFF;
}
section.what-i-work-on h2.leading span {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 4px;
}
section.what-i-work-on .resume-link {
  margin: 30px 0 -30px;
  color: #DADADA;
  text-align: center;
}
section.what-i-work-on .resume-link a {
  color: white;
}
section.what-i-work-on .service-item {
  text-align: center;
}
section.what-i-work-on .service-item h3 {
  font-size: 25px;
  line-height: 40px;
  font-weight: 400;
  color: white;
}
section.what-i-work-on .service-item p {
  font-size: 16px;
  font-weight: 300;
  color: white;
  line-height: 26px;
}
section.contact {
  padding: 50px 0;
  background: #f5f5f5;
}
section.contact .contact-alert {
  text-align: center;
  width: 50%;
  background: whiteSmoke;
  border: 1px solid #DDD;
  box-shadow: 0 0 9px -4px rgba(0, 0, 0, 0.76), inset 0 0 0px 1px #ffffff;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  margin: 40px auto;
}
section.contact .contact-alert.error {
  border: 3px solid red;
}
section.contact form {
  padding: 20px 0;
  font-family: 'Open Sans', sans-serif;
}
section.contact form textarea {
  min-height: 200px;
  resize: vertical;
  font-size: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100%;
  height: 239px;
  padding: 18px;
}
section.contact form input {
  padding: 14px;
  width: 100%;
  font-size: 14px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 14px;
  height: auto;
}
section.contact form button {
  font-size: 18px;
  line-height: 25px;
  padding: 10px 12px;
}
section.contact .alt-contact {
  margin: 40px 0 0;
}
section.contact .alt-btns {
  margin: 40px 15px 0;
}
section.contact .alt-btns .left {
  text-align: right;
}
section.contact .alt-btns p {
  color: #888;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}
section.contact .alt-btns .btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
input.form-control,
textarea.form-control {
  background: #E6E6E6;
  border-color: rgba(0, 0, 0, 0);
}
input.form-control:focus,
textarea.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #d9d9d9;
  border-color: transparent;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
section.single-work {
  margin-top: 30px;
}
section.single-work div.container {
  width: 820px;
}
section.single-work div.featured-image {
  text-align: center;
  width: 100%;
  padding-bottom: 1px;
  margin: 20px 0 20px;
}
section.single-work div.featured-image img {
  max-width: 100%;
  border: 1px solid #EBEBEB;
  padding: 3px;
}
section.single-work div.work-sidebar {
  border-left: 1px solid #ddd;
  padding-left: 22px;
}
section.single-work div.work-sidebar p {
  font-family: 'Open Sans', sans-serif;
  margin: 1em 0;
  color: #474747;
  font-size: 14px;
  line-height: 25px;
}
section.single-work div.work-featured {
  font-family: 'Open Sans', sans-serif;
}
section.single-work div.work-featured h2 {
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 36px;
}
section.single-work div.work-featured h4 {
  margin-bottom: 10px;
}
section.single-work div.work-featured h4 a {
  color: #888;
  font-weight: normal;
}
section.single-work div.work-featured h4 a:hover {
  color: #444;
  text-decoration: none;
}
section.single-work div.work-featured p {
  font-family: 'Open Sans', sans-serif;
  margin: 1em 0;
  color: #474747;
  font-size: 16px;
  line-height: 27px;
}
section.single-work div.footer-container {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 20px;
}
section.single-work div.footer-container h3 {
  font: 600 26px/30px 'Open Sans', sans-serif;
}
section.single-work div.footer-container p.lead {
  font: 300 18px/25px 'Open Sans', sans-serif;
}
section.single-work div.footer-container .btn.btn-primary {
  font-family: 'Open Sans', sans-serif;
  margin-top: 23px;
  float: right;
  padding: 15px 25px;
  font-size: 22px;
}
section.single-work div.footer-container .btn.btn-primary:hover {
  background: #9d261d;
  border-color: #721c15;
}
#global-footer {
  padding: 30px 0;
  color: #808080;
  background: #F5F5F5;
}
#global-footer a {
  color: #595959;
}
#global-footer a:hover {
  color: #333;
  text-decoration: none;
}
#global-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#global-footer ul li {
  float: left;
}
#global-footer ul li:last-child a {
  border-right: none;
}
#global-footer ul li a {
  display: block;
  padding: 5px 10px;
}
section.blog {
  background: white;
  padding-top: 100px;
}
section.blog div.container {
  width: 820px;
}
section.blog article {
  margin-bottom: 40px;
}
section.blog article:before,
section.blog article:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
section.blog article:after {
  clear: both;
}
section.blog article .article-meta {
  font-size: 12px;
  font-weight: 300;
  margin: 0 0 10px;
  color: #888;
}
section.blog article .article-meta a {
  color: #777;
}
section.blog article .btn-permalink {
  background: #0064cd;
  color: white;
  display: inline-block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 4px 10px;
  text-shadow: 0 1px 0 #003267;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
}
section.blog article .btn-permalink:hover {
  background: #9d261d;
  text-decoration: none;
}
section.blog article .btn-permalink:active {
  position: relative;
  top: 2px;
}
section.blog article .post-title-wrap {
  padding: 18px 0 0;
}
section.blog article .post-title-wrap .post-title {
  font-size: 36px;
  line-height: 1em;
  color: black;
}
section.blog article .post-title-wrap .post-title a {
  color: inherit;
}
section.blog article .post-title-wrap .post-title a:hover {
  color: #333333;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  text-decoration: none;
}
section.blog article .post-title-wrap .post-meta {
  font-weight: normal;
  color: #9B9B9B;
  font-size: 13px;
  line-height: 15px;
  margin: 0 0 10px;
}
section.blog article .post-title-wrap .post-meta a {
  color: #5b5b5b;
}
section.blog article .page-cta {
  border-radius: 4px;
  background: white;
  background: #EDEFF0;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  margin: 20px 0 40px;
}
section.blog article .page-cta .page-cta-inner {
  padding: 18px;
}
section.blog article .page-cta .page-cta-inner h3 {
  color: #384047;
  margin: 5px 0 10px;
  font: 400 27px/35px 'Open Sans', sans-serif;
  margin: 0 0 15px;
  padding: 0;
}
section.blog article .page-cta .page-cta-inner p {
  font: normal 16px/27px 'Open Sans', sans-serif;
  color: #555;
  margin: 0;
  padding: 0;
}
section.blog article .page-cta .page-cta-footer {
  padding: 18px;
  background: #d1d6d9;
  border-bottom: 1px solid #b5bec2;
  border-radius: 0 0 4px 4px;
}
section.blog article .page-cta .page-cta-footer p {
  padding: 0;
  margin: 0;
}
section.blog article .page-cta .page-cta-footer .btn {
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  border-bottom-width: 3px;
  color: white;
  text-decoration: none;
}
section.blog article .content-wrap {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}
section.blog article .content-wrap p {
  font-weight: normal;
  font-size: 21px;
  line-height: 40px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}
section.blog article .content-wrap p.lead {
  font-weight: normal;
  font-size: 21px;
  line-height: 40px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}
section.blog article .content-wrap h1,
section.blog article .content-wrap h2,
section.blog article .content-wrap h3 {
  font-weight: 500;
  margin: 15px 0;
  font-family: 'Open Sans', sans-serif;
}
section.blog article .content-wrap h1 {
  font-size: 30px;
  line-height: 31px;
}
section.blog article .content-wrap h2 {
  font-size: 27px;
  line-height: 28px;
}
section.blog article .content-wrap h3 {
  font-size: 24px;
  line-height: 25px;
  font-weight: normal;
}
section.blog article .content-wrap h4 {
  font-size: 21px;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;
}
section.blog article .content-wrap h5 {
  font-size: 18px;
  line-height: 19px;
  font-family: 'Open Sans', sans-serif;
}
section.blog article .content-wrap h6 {
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
section.blog article .content-wrap a {
  color: #0071BA;
  text-decoration: underline;
}
section.blog article .content-wrap a:hover {
  color: #005287;
  text-decoration: none;
}
section.blog article .content-wrap img {
  max-width: 100%;
}
section.blog article .content-wrap blockquote {
  padding: 10px 0 10px 30px;
}
section.blog article .content-wrap blockquote p {
  margin: 0;
}
section.blog article .content-wrap blockquote cite {
  font-size: 12px;
  text-transform: uppercase;
  color: #888;
  font-weight: 500;
}
section.blog article .content-wrap pre,
section.blog article .content-wrap .syntaxhighlighter {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-top: none;
  border-right: none;
  background-color: #f5f5f5 !important;
  border-bottom: none;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  padding: 10px 10px 10px 20px;
  margin: 0 0 20px;
}
section.blog article .content-wrap .syntaxhighlighter {
  padding-left: 0;
}
section.blog article .content-wrap .wider {
  margin: 20px -30px;
  text-align: center;
}
section.blog article .content-wrap .wider img {
  max-width: 1000px;
  width: 100%;
  height: auto !important;
  -ms-interpolation-mode: bicubic;
}
@media (min-width: 1000px) {
  section.blog article .content-wrap .wider {
    margin: 20px -25%;
  }
}
section.blog article .content-wrap p.wp-caption-text {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #333;
}
section.blog article .content-wrap:before,
section.blog article .content-wrap:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
section.blog article .content-wrap:after {
  clear: both;
}
.wp-pagenavi-wrap {
  border-top: 1px solid #D8D8D8;
}
.wp-pagenavi-wrap .wp-pagenavi {
  width: 50%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}
.wp-pagenavi-wrap .wp-pagenavi a,
.wp-pagenavi-wrap .wp-pagenavi span {
  display: inline-block;
  padding: 12px 15px;
  font-size: 15px;
  position: relative;
  top: -1px;
  color: #555;
}
.wp-pagenavi-wrap .wp-pagenavi a.current,
.wp-pagenavi-wrap .wp-pagenavi span.current,
.wp-pagenavi-wrap .wp-pagenavi a:hover,
.wp-pagenavi-wrap .wp-pagenavi span:hover {
  border-top: 1px solid #8c8c8c;
  text-decoration: none;
  color: #333;
  -webkit-transition: none;
  transition: none;
}
.share-it {
  border-top: 1px solid #DDD;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #DDD;
  background: rgba(100, 100, 100, 0.04);
}
#project-listing {
  margin-top: 20px;
}
#project-listing a:hover {
  text-decoration: none;
}
#project-listing .project {
  background: whiteSmoke;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  height: 125px;
  overflow: hidden;
}
#project-listing .project:hover {
  border-color: #A8A8A8;
  transition: .25s;
}
#project-listing .project h3 {
  font: 400 22px/30px 'Open Sans', sans-serif;
  margin: 5px 0 10px;
  color: #222;
  text-shadow: 0 1px 0 white;
}
#project-listing .project p {
  font: normal 15px/20px 'Open Sans', sans-serif;
  color: #888;
  text-shadow: 0 1px 0 white;
  margin: 0;
}
section.solutions-process {
  margin: 25px 0;
}
section.solutions-process p.leading {
  width: 80%;
  text-align: center;
  margin: 0 auto 50px;
}
section.solutions-process .solution-item {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
section.solutions-process .solution-item h4 {
  font-weight: bold;
}
section.solutions-process .solution-item p {
  font-size: 15px;
}
.solutions-feature {
  margin: 80px 0;
}
.solutions-feature h3.leading {
  font-weight: 600;
}
.solutions-feature img {
  max-width: 100%;
}
.solutions-feature .section-info {
  font-family: 'Open Sans', sans-serif;
  margin: 1em 0;
  color: #474747;
  font-size: 16px;
  line-height: 27px;
}
.solutions-feature.center-feature {
  margin-bottom: 0;
}
.solutions-feature.center-feature .leading {
  text-align: center;
}
.solutions-feature.center-feature p.leading {
  width: 80%;
  margin: 0 auto;
}
.solutions-feature.center-feature .panel-media {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.solutions-feature.center-feature .panel-media .col-fix {
  margin: 0 auto;
  float: none;
}
.solutions-feature.center-feature .panel-media img {
  max-width: 95%;
}
.solutions-feature.cta-feature {
  padding: 50px 0;
  margin-bottom: 0;
  background: #F5F5F5;
}
.solutions-feature.cta-feature .btn {
  padding: 15px 20px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0;
}
@media (max-width: 768px) {
  body {
    padding: 0;
  }
  section.focus-area.home {
    padding: 75px 0 50px;
  }
  section.focus-area .action-btns .btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  section.focus-area.services {
    padding: 100px 0;
  }
  section.focus-area.portfolio-listing .work-piece:first-child {
    margin-bottom: 20px;
  }
  section.about-grey {
    padding-top: 100px;
  }
  section.solutions-process .solution-item {
    padding: 0 20px 20px;
  }
  section.solutions-feature img {
    max-width: 100%;
  }
  section.contact {
    padding: 20px 15px;
  }
  section.blog div.container {
    width: auto;
  }
  section.blog div.container article {
    padding: 0 15px;
  }
  section.blog div.container .content-wrap img {
    max-width: 100%;
  }
  section.contact form {
    width: auto;
  }
  section.contact form:before,
  section.contact form:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  section.contact form:after {
    clear: both;
  }
  section.contact form textarea,
  section.contact form input {
    margin: 0 0 14px;
    width: 100%;
  }
  section.contact .alt-contact {
    line-height: 30px;
  }
  section.single-work div.container {
    width: auto;
  }
  section.single-work div.footer-container {
    padding: 0 15px;
  }
  section.single-work div.footer-container h3,
  section.single-work div.footer-container p.lead {
    text-align: center;
  }
  section.single-work div.work-featured,
  section.single-work div.work-sidebar {
    padding: 0 20px;
  }
  #global-nav {
    padding: 10px 0;
  }
  #global-nav .site-logo img {
    height: 50px;
  }
  #project-listing .project {
    overflow: visible !important;
    height: auto !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .site-logo img {
    height: 50px;
    margin-top: 6px;
  }
  #global-nav ul.nav li a {
    padding: 24px 10px;
  }
  section.focus-area,
  section.focus-area.services {
    padding: 130px 0;
  }
}
@media (width: 768px) {
  section.focus-area.home {
    padding: 100px 0 50px;
  }
}
@media (min-width: 1200px) {
  #global-header {
    padding: 20px 0;
  }
  section.focus-area {
    padding: 100px 0;
  }
  section.focus-area.services {
    background-position-y: -271px;
  }
  section.focus-area.portfolio-listing {
    padding-top: 50px;
  }
  section.about-panels .row {
    height: 300px;
    overflow: hidden;
  }
}
img#wpstats {
  display: none;
}
