---
layout: default
---

<div class="max-w-3xl py-16 mx-auto md:py-20 lg:py-32 dark:text-white">
  <h3 class="mb-6 font-serif text-5xl leading-relaxed md:leading-normal">Hi, my name is <span
  class="inline-block px-1 text-white bg-brandBrightDarker dark:bg-brandBrightDarkerDarkMode">Sean Fisher</span></h3>
  <p class="font-serif text-xl leading-8">
    <img src="/img/hello.webp" width="150" height="150" class="float-right mb-5 ml-3 rounded-full shadow-lg w-36 lg:w-40" alt="Sean Fisher" />
    I am a Principal Software Architect at <a href="https://alley.co/" target="_blank">Alley</a> and a Full stack software developer from
    NYC. My work focuses on crafting solutions in WordPress, Laravel, and enterprise publishing applications, leveraging years of experience in innovative software development.
  </p>
  <p class="mt-5 font-serif text-xl leading-8">
    My passion lies in developing open-source software and shared solutions for
    the WordPress and PHP community. As a WordPress core contributor, I've
    created several plugins and packages widely adopted by websites around the
    globe.
  </p>
</div>

<div class="max-w-2xl mx-auto">
  <h4 class="font-serif text-sm dark:text-white">
    Here is some of my open-source work:
  </h4>
  <section class="my-5 space-y-5">
    {% for project in site.data.open-source-projects %}
      <div class="space-y-1">
        <h4><a href="{{ project.url }}" class="text-black dark:text-white">{{ project.name }}</a></h4>
        <p class="text-gray-600 dark:text-gray-400">{{ project.description }}</p>
      </div>
    {% endfor %}
  </section>
</div>

<div class="max-w-2xl mx-auto mt-8">
  <h4 class="font-serif text-sm leading-6 dark:text-white">
    You can find all of my contributions on my <a href="https://github.com/srtfisher/">GitHub</a>. Additionally, here are some of my client projects:
  </h4>
  <section class="my-5 space-y-5">
    {% for project in site.data.projects %}
      <div class="space-y-1">
        <h4><a href="{{ project.url }}" class="text-black dark:text-white">{{ project.name }}</a></h4>
        <p class="text-gray-600 dark:text-gray-400">{{ project.description }}</p>
      </div>
    {% endfor %}
  </section>
</div>

<p class="py-4 text-center">
  Contact me <a href="mailto:hi@seanfisher.co">via email</a>.
</p>