---
layout: default
---

<div itemscope itemtype="http://schema.org/Person">
  <section class="focus-area dark home">
    <div class="container">
      <h2 class="leading">
        Hi, my name is <span class="yellow" itemprop="name">Sean Fisher</span>
      </h2>
      <p class="leading">
        <span itemprop="jobTitle">Full Stack Developer</span> from
        <span itemprop="address">New York City</span>. My specialties include
        <span itemprop="knows"></span>Laravel, WordPress and custom application development.</span>
        I work with businesses to create incredible experiences
        <br />
        <strong class="dark">Let me help create your idea today.</strong>
      </p>

      <div class="action-btns">
        <div class="btn-group">
          <!--
            <a href="/services?utm_source=seanfisherco&utm_medium=cta-button&utm_content=spotlight&utm_campaign=services" class="btn btn-primary btn-lg">What I Can Do For You</a>
          -->
          <a href="/contact?utm_source=seanfisherco&utm_medium=cta-button&utm_content=spotlight&utm_campaign=contact" class="btn btn-default btn-lg pull-right" id="spotlight-contact" data-medium="spotlight">Contact Me</a>
        </div>
      </div>
    </div>
    
    <meta itemprop="image" content="http://seanfisher.co/img/selfie.jpg">
    <span class="hide" itemprop="email">hi@seanfisher.co</span>
  </section>
</div>

{% include recent-work.html %}
{% include what-can-i-provide.html %}
{% include contact.html %}

<script type="text/javascript">$(function() { SF.home(); });</script>
