<!-- Footer -->
<footer id="global-footer">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-xs-12">
              <ul class="clearfix">
                  <li><a href="http://github.com/srtfisher" target="_blank" rel="self">GitHub</a></li>
                  <li><a href="http://twitter.com/srtfisher" target="_blank" rel="self">Twitter</a></li>
                  <li><a href="http://linkedin.com/in/srtfisher" target="_blank" rel="self">LinkedIn</a></li>
              </ul>
          </div>
          
          <div class="col-sm-6 col-xs-12 copyright">
              &copy; {{ site.time | date: '%Y' }} <a href="http://seanfisher.co/">Sean Fisher</a>
          </div>
      </div>
  </div>
</footer>
</body>
</html>