{% if page.url != '/blog/' %}
  <div class="page-cta">
      <div class="page-cta-inner">
          <h3>Are you doing the best for your business?</h3>
          <p>My name is <strong>Sean Fisher</strong> and I am a software developer and consultant. Coming from years of experience with WordPress and other software, I can help your business in the best way possible. You may view a sample of my work in my <a href="<?php echo home_url('/'); ?>#work">portfolio</a>. I would love to hear from you and learn how I can help you today.</p>
      </div>
      <div class="page-cta-footer">
          <a href="{{ site.baseurl }}contact/?utm_source=seanfisherco&amp;utm_medium=button&amp;utm_content=service-cta&amp;utm_campaign=contact" class="btn btn-lg btn-primary">Let's Get In Touch</a>
      </div>
  </div>
{% endif %}