<section class="focus-area portfolio-listing" id="work">
  <div class="container">
    <a name="work"></a>
    <h2 class="leading">Look at Some of My Work</h2>
    <p class="leading">I ensure my client's happiness from beginning to end by making a wonderful product that is both beautiful and easy to use.</p>
    <div class="row">
      {% for project in site.data.work %}
        <div class="col-lg-6 col-md-6 col-sm-6 work-piece">
          <a href="{{project.url }}" title="Permalink to {{ project.name }}">
            <img src="{{ project.img }}" style="max-width:100%;" width="460">
            <h3>{{ project.name }}</h3>
            <h5>{{ project.domain }}</h5>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <p class="last-call">I also have a number of <a href="{{ site.baseurl }}open-source/" class="btn btn-default">open source projects</a>.</p>
</section>
