<section class="focus-area what-i-work-on">
  <h2 class="leading"><span>What can I provide you?</h2>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 service-item">
        <h3>Interface Design</h3>
        <p>
          From a business website to a mobile application, we'll find what works best to make sure your visitors are never lost.
        </p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 service-item">
        <h3>Content Management</h3>
        <p>
          Building out a website for your business is no problem. Using a CMS such as WordPress, we'll create you a website of your dreams. Alot of people need to manage it? We've got that covered.
        </p>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 service-item">
        <h3>Application Development</h3>
        <p>
          Have an idea you'd like to see in reality? We'll make it happen. Building out anything is possible. We've worked and created various products for businesses that vary greatly.
        </p>
      </div>


    </div>

    <div class="resume-link">
      <p>How about a paper <a href="/resume">resume</a>?</p>
    </div>
  </div>
</section>