<!DOCTYPE html>
<html lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width">
   <title>{{ page.title }}</title>
   <meta name="author" content="Sean Fisher" />
   <link href="http://seanfisher.co/rss" rel="alternate" title="Sean Fisher's Blog" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <!-- <link rel="stylesheet" href="/css/syntax.css" type="text/css" /> -->

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.1/modernizr.min.js"></script>
</head>
<body>
<header class="<?php if (is_front_page()) echo 'loading'; ?>">
        <div id="top-border"></div>
        
        <div class="container">
            <div class="row">
                <div class="span3 site-logo">
                    <a href="/"><img src="/img/logo.png" /></a>
                </div>
                
                <div class="span9">
                    <nav id="site-nav-wrap">
                        <ul id="site-nav">
                            <li id="nav-home" <?php if (is_front_page() ) echo 'class="active"'; ?>><a href="<?=site_url('')?>" data-target="#spotlight">Home <div class="arrow"><div class="fill"></div></div></a></li>
                            <li id="nav-about"><a href="<?=site_url('')?>#about" data-target="#about">About Me <div class="arrow"><div class="fill"></div></div></a></li>
                            <li id="nav-work"><a href="<?=site_url('')?>#work" data-target="#work">Work Portfolio <div class="arrow"><div class="fill"></div></div></a></li>
                            <li <?php if (get_the_title() == 'Blog' ) echo 'class="active"'; ?>><a href="<?=site_url('blog')?>">Blog <div class="arrow"><div class="fill"></div></div></a></li>
                            <li id="nav-contact"><a href="<?=site_url('')?>#contact" data-target="#contact">Contact Me <div class="arrow"><div class="fill"></div></div></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

<!-- Content Start -->
{{ content }}
<!-- Content End -->

<!-- Footer -->
<footer>
<div class="container">
    <div class="row">
        <div class="span6">
            <ul class="clearfix">
                <li><a href="http://twitter.com/srtfisher/">Sean on Twitter</a></li>
                <li><a href="http://linkedin.com/in/srtfisher">LinkedIn</a></li>
            </ul>
        </div>
        
        <div class="span5" style="text-align:right;">
            &copy; 2014 Sean Fisher
        </div>
    </div>
    
    <div class="final-quote">
        <p>A man should look for what is, and not for what he thinks should be.</p>
        <cite>Albert Einstein</cite>
    </div>
</div>
</footer>
</body>
</html>


