---
layout: page
---
{% include head.html %}
<section class="blog">
    <div class="container">
          <article>
              <div class="post-title-wrap">
                  <h2 class="post-title">
                      <a href="{{ page.url }}">{{ page.title }}</a>
                  </h2>
                  
                  <!--<?php if ( is_single()) : ?>
                      <h4 class="post-meta"><?php twentyten_posted_on(); ?></h4>
                  <?php endif; ?>-->
              </div>
              
              <div class="content-wrap">
                  {{ content }}
              </div>
              
              <!--<?php if (! is_single() AND ! is_page() AND 1 == 2) : ?>
                  <a href="<?php the_permalink(); ?>" class="btn btn-primary right">Read More &rarr;</a>
              <?php endif; ?>-->
          </article>
        
</section>

    <section class="share-it">
        <div class="container">
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-via="srtfisher" data-size="large" data-related="srtfisher">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
    </section>
{% include foot.html %}