{% include head.html %}
<section class="single-work">
    <div class="container">
        <div class="featured-image">
            <img src="{{ page.image }}" />
        </div>

        <hr />

        <div class="row">
            <div class="col-lg-9 col-lg-push-0 col-md-10 col-md-push-1 col-sm-12 work-featured" style="margin-left: auto; margin-right: auto; float: none;">
                <h2>
                  <a href="http://{{ page.domain }}/" target="_blank">
                    {{ page.title }}
                  </h2>
                <h4>
                    <a href="http://{{ page.domain }}/" target="_blank">
                      {{ page.domain }}
                    </a>
                </h4>
                {{ content }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-lg-push-0 col-md-10 col-md-push-1 col-sm-12 work-sidebar" style="margin-left: auto; margin-right: auto; float: none;">
                <h4>
                  <span>Work Performed</span>
                </h4>
                <ul>
                    {% for post in page.work_performed %}
                      <li>{{ post }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container footer-container">
        <div class="row">
            <div class="col-sm-8">
                <h3>Like what you're seeing?</h3>
                <p class="lead">I build web solutions and I would love to work with you.</p>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-flat btn-primary btn-large" href="{{ site.baseurl }}contact?utm_source=seanfisherco&utm_medium=cta-button&utm_content=single-work-start-project&utm_campaign=contact&project">Start Your Project</a>
            </div>
        </div>
    </div>
</section>

{% include foot.html %}
