/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

:root {
  --brand-bright: #00f5d4;
  --link-hover: #01d8bb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand-bright: #01c6ac;
  }
}

a {
  border-bottom: 1px solid var(--brand-bright);
  padding-bottom: 2px;
  text-decoration: none;
}

a:hover,
a:focus {
  background: var(--brand-bright);
  border-color: var(--brand-bright);
  color: white;
}