/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

a {
  border-bottom: 1px solid #00f5d4;
  padding-bottom: 2px;
  text-decoration: none;
}

a:hover {
  background: #00ebcb;
  border-color: #00ebcb;
  color: white;
}