/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

:root {
  --brand-bright: #00f5d4;
}

a {
  border-bottom: 1px solid var(--brand-bright);
  padding-bottom: 2px;
  text-decoration: none;
}

a:hover,
a:focus {
  background: #01d8bb;
  border-color: #01d8bb;
  color: white;
}